*{
    box-sizing: border-box;
}

body {
    background-color: black;
}

.header {
    padding: 25px;
    background-color: rgb(104, 25, 177);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.header h1 {
    display: inline-block;
    font-size: 60px;
}

.header nav {
    float: right;
    margin-right: 60px;
    margin-top: 100px;
    font-size: 25px;
}

.header nav ul li {
    list-style-type: none;
    display: inline-block;
}


